@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* shadcn generated theme */
:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0.35 0 0);
	--card: oklch(0.99 0.02 85);
	--card-foreground: oklch(0.35 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.35 0 0);
	--primary: oklch(0.65 0.15 45);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.68 0.17 40);
	--secondary-foreground: oklch(1 0 0);
	--muted: oklch(0.98 0.01 85);
	--muted-foreground: oklch(0.35 0 0);
	--accent: oklch(0.68 0.17 40);
	--accent-foreground: oklch(1 0 0);
	--destructive: oklch(0.55 0.22 25);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.92 0 0);
	--input: oklch(0.98 0 0);
	--ring: oklch(0.65 0.15 45 / 0.5);
	--chart-1: oklch(0.68 0.17 40);
	--chart-2: oklch(0.65 0.15 45);
	--chart-3: oklch(0.35 0 0);
	--chart-4: oklch(0.55 0.15 270);
	--chart-5: oklch(0.92 0.05 140);
	--radius: 0.5rem;
	--sidebar: oklch(1 0 0);
	--sidebar-foreground: oklch(0.35 0 0);
	--sidebar-primary: oklch(0.65 0.15 45);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.68 0.17 40);
	--sidebar-border: oklch(0.92 0 0);
	--sidebar-ring: oklch(0.65 0.15 45 / 0.5);
}

.dark {
	--background: oklch(0.08 0 0);
	--foreground: oklch(0.95 0 0);
	--card: oklch(86.954% 0.17351 90.795 / 0.103);
	--card-foreground: oklch(0.95 0 0);
	--popover: oklch(0.08 0 0);
	--popover-foreground: oklch(0.95 0 0);
	--primary: oklch(0.68 0.17 40);
	--primary-foreground: oklch(0.08 0 0);
	--secondary: oklch(0.65 0.15 45);
	--secondary-foreground: oklch(0.95 0 0);
	--muted: oklch(0.15 0 0);
	--muted-foreground: oklch(0.7 0 0);
	--accent: oklch(0.68 0.17 40);
	--accent-foreground: oklch(0.08 0 0);
	--destructive: oklch(0.6 0.22 25);
	--destructive-foreground: oklch(0.95 0 0);
	--border: oklch(0.2 0 0);
	--chart-1: oklch(0.68 0.17 40);
	--chart-2: oklch(0.65 0.15 45);
	--chart-3: oklch(0.7 0 0);
	--chart-4: oklch(0.6 0.15 270);
	--chart-5: oklch(0.3 0.05 140);
	--sidebar: oklch(0.08 0 0);
	--sidebar-foreground: oklch(0.95 0 0);
	--sidebar-primary: oklch(0.68 0.17 40);
	--sidebar-primary-foreground: oklch(0.08 0 0);
	--sidebar-accent: oklch(0.65 0.15 45);
	--sidebar-border: oklch(0.2 0 0);
	--sidebar-ring: oklch(0.68 0.17 40 / 0.5);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	/* Font families */
	--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
	--font-serif: "Manrope", ui-serif, Georgia, serif;
	--font-mono: ui-monospace, SFMono-Regular, "SF Mono", Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground font-serif;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-sans;
	}

	button {
		@apply hover:translate-y-[-2px] transition-[color,background-color,transform,translate,scale] ease-out duration-300 active:scale-[0.98];
	}

	html {
		scroll-behavior: smooth;
	}

	#mobile-menu-button {
		transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out,
			background-color 0.2s ease-in-out;
		& .top-bar,
		& .middle-bar,
		& .bottom-bar {
			transform-origin: center;
			transition: all 0.3s ease-in-out;
			transform-box: fill-box;
		}

		&[aria-expanded="true"] {
			& .top-bar {
				transform: translateY(6px) rotate(45deg);
			}
			& .middle-bar {
				opacity: 0;
				transform: translateX(16px);
			}
			& .bottom-bar {
				transform: translateY(-6px) rotate(-45deg);
			}
		}
	}

	#mobile-menu {
		transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
		transform-origin: center top;
		opacity: 0;
		transform: scale(0.98);
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		z-index: 40;
		box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
			0 4px 6px -2px rgba(0, 0, 0, 0.05);

		&.block {
			display: block;
			opacity: 1;
			transform: scale(1);
		}

		&.hidden {
			display: none;
		}
	}

	body:has(#mobile-menu-button[aria-expanded="true"]) {
		overflow-y: hidden;
		height: 100vh;
		margin-right: var(--scrollbar-width) !important;
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-fade-in-up {
	animation: fadeInUp 0.6s ease-out;
}
